* {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
  }
  body {
    background-color: green;
  }
  img{
    size: 30%;
  }
  h1{
    font-size: 72px;
    text-decoration: underline overline;
    text-decoration-color: red;
    padding: 30px;
  }
  p{
    color: white;
    font-size: 48px;
  }
  #colourized{
    font-weight: bold;
    color: black;
    font-size: 48px;
  }
  #final{
    text-decoration: underline;
    text-decoration-color: red;
  }